<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="/css/style2.css" rel="stylesheet">
</head>
<body>
	<div id="formAcaoUsuarioClienteModal" class="modal fade" role="dialog"
		th:fragment="formAcaoUsuarioCliente" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="background: #093159;">
					<h4 class="modal-title">
						<span style="font-weight: bold; color: white;">Cadastrar
							Ação de Cliente</span>
					</h4>
				</div>

				<form th:action="@{/salvaAcaoUsuarioCliente}" method="post"
					th:object="${acaoUsuarioCliente}" id="form-acaoUsuarioCliente-form">

					<!-- Input values -->
					<div class="modal-body container col-md-8">
						<div class="form-row">
							<div class="col">
								<div class="form-group col-md-12 mt-3">
									<label id="inputAcaoUsuarioClienteData-label"><input 
										class="form-control" id="inputAcaoUsuarioClienteData"
										type="hidden" name="data"
										th:value="*{#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required="required" /></label>
								</div>
								<div class="form-row" hidden>
									<div class="form-group col-md-12 mt-3">
										<label id="inputAcaoUsuarioClienteCliente-label"><select
											class="form-control" id="inputAcaoUsuarioClienteCliente"
											th:field="*{cliente}">
												<option th:value="${cliente.id}" />
										</select></label>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6 mt-3">
										<label id="inputAcaoUsuarioClienteAcao-label"><select
											class="form-control" id="inputAcaoUsuarioClienteAcao"
											th:field="*{acao}">
												<option value="">Ação</option>
												<option th:each="acao: ${acoes}" th:value="${acao.id}"
													th:text="${acao.descricao}" />
										</select></label>
									</div>
									<div class="form-group col-md-6 mt-3">
										<label id="inputAcaoUsuarioClienteUsuario-label"><select
											class="form-control" id="inputAcaoUsuarioClienteUsuario"
											th:field="*{usuario}">
												<option value="">Usuário</option>
												<option th:each="usuario: ${usuarios}"
													th:value="${usuario.id}"
													th:text="${usuario.nome}" />
										</select></label>
									</div>
								</div>

								<div class="form-group col-md-12 mt-3">
									<label id="inputAcaoUsuarioClienteDescricao-label"><textarea
											type="text" th:field="*{descricao}"
											id="inputAcaoUsuarioClienteDescricao" class="form-control"
											required="required" rows="7" style="resize: none"
											placeholder="Descrição"></textarea></label>
								</div>
							</div>
						</div>
					</div>
					<!-- buttons -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>
</body>
</html>