<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/css/style2.css" rel="stylesheet">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link href="/css/style2.css" rel="stylesheet">
</head>
<body>
	<div id="alteraStatusModal" class="modal fade" role="dialog"
		th:fragment="alteraStatus" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="background: #093159;">
					<h4 class="modal-title">
						<span style="font-weight: bold; color: white;">Alterar
							Status</span>
					</h4>
				</div>

				<form th:action="@{/alteraStatus}" method="post" th:object="${status}"
					id="altera-status-form">

					<!-- Input values -->
					<div class="modal-body container col-md-8">
						<div class="form-group">
							<label>ID</label> <input type="text" th:field="*{id}" id="inputStatusId"
								class="form-control col-sm-3" readonly="readonly"
								required="required" />
						</div>
						<div class="row">
							<div class="form-group col-md-6 mt-3">
								<label>Descrição</label><input type="text"
									th:field="*{descricao}"
									name="descricao" class="form-control"
									required="required" />
							</div>
						</div>
					</div>

					<!-- buttons -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>
</body>
</html>